<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sếch Day</title>
    <!-- Nhúng file CSS -->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/833/833472.png" type="image/png">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <!-- Nút truy cập Admin ẩn góc phải -->
    <a href="/login.html" class="admin-btn" title="Khu vực của Sốp">👑</a>

    <div class="container">
        <h1>Em hãy gửi ảnh/video sếch nhất cho anh nhé? 💝</h1>
        <div class="gif">
            <img src="https://media.giphy.com/media/VM1fcpu2bKs1e2Kdbj/giphy.gif" alt="Cute gif">
        </div>
        <div id="nameSection">
            <h2>Cho anh biết tên của em nha:</h2>
            <input type="text" id="userName" placeholder="Nhập tên em vào đây..." required>
            <br><button id="submitNameBtn" style="background-color: #ff9a9e; color: white;">Tiếp tục thui</button>
        </div>
        <div class="buttons" id="buttonsSection" style="display: none;">
            <button id="yesBtn">Cóa!</button>
            <button id="noBtn">Hông:(</button>
        </div>
    </div>
    <div class="footer">Đáng yêu quá điii! 💕</div>

    <!-- Nhạc lãng mạn -->
    <audio id="bgMusic" loop>
        <source src="https://cdn.pixabay.com/download/audio/2022/10/25/audio_7995a97576.mp3?filename=romantic-piano-122619.mp3" type="audio/mpeg">
    </audio>

    <!-- Nhúng file JS -->
    <script src="Scripts/script.js"></script>
</body>
</html>
